@import "tailwindcss";

body {
  overflow-x: hidden;
  background-color: #a8a29e;
}

form {
  background-color: #fff;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button {
  letter-spacing: 2px;
}